body
  padding-left: $base-line-height
  padding-right: $base-line-height

img
  max-width: 100%

div, a
  border-radius: 0 !important

.highlight
  margin-bottom: $base-line-height
  pre
    overflow: scroll
    padding: $base-line-height / 2

.site-nav
  ul
    margin-bottom: 0
    +respond-to(smaller-screens)
      margin-left: 0
    li
      display: inline
      margin-left: 2ex

.content
  max-width: 70ex
  margin: 0 auto

// Title
.title-container
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 50ex
  background-color: $blue
  color: white

.title-logo
  display: flex
  flex-direction: row
  justify-content: flex-end
  svg
    height: 20ex
    margin-right: 1rem
    margin-left: 1rem
    fill: white
  #brown
    margin-left: 5rem

.title-group
  margin-right: 5rem
  margin-left: 6rem


// Main Groups

.section
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  padding-top: 3rem
  padding-bottom: 3rem

.section-group
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-end

.group-card
  display: flex
  flex-direction: column
  border: solid 1px lightgray
  margin-left: 2rem
  padding: 1rem
  max-width: 40ex
  small
    margin-bottom: -0.8rem
    font-size: 0.7rem
    color: $light-gray

.group-card-title
  display: flex
  flex: row
  align-items: center
  span
    margin-left: 1rem
    color: $light-gray
