
<div class="section">
    <div class="section-title">
        <h1>Software</h1>
    </div>
    <div class="section-group">
    {{ range .Site.Data.info }}
        {{ if eq .type "software" }}
        <div class="group-card">
            <small>{{ .site_author }}</small>
            <a href="{{ .site_url }}">
                <div class="group-card-title">
                    <h6>{{ .site_name }}</h6>
                    <a href="{{ .repo_url }}">
                        <span class="fab fa-2x fa-github"></span>
                    </a>
                </div>
                <p>{{ .site_description }}</p>
            </a>
            <div class="group-status">
                <img src="https://img.shields.io/travis/compbiocore/{{.repo}}.svg?style=flat-square"/>
                <a href="{{ .site_url }}">
                    <img src="https://img.shields.io/badge/docs-stable-blue.svg?style=flat-square"/>
                </a>
            </div>
        </div>
        {{ end }}
    {{ end }}
    </div>
</div>
